<div class="mt-4">
    {{!-- {{#with course}} --}}
    <div class="card" style="width: 18rem;">
  <img src="{{course.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">{{course.description}}.</p>
  </div>
  <a href="/details/detail/{{course.slug}}" class="btn btn-primary"> Chỉnh sửa</a>
  {{!-- <a href="/details/detail/{{course.slug}}/delete" > Xóa</a> --}}
  <form action="/details/detail/{{course.slug}}/delete" method="POST">
  <div class="form-group">
    <button type="submit" class="btn btn-danger">Delete</button>
  </div>
</form>
</div>
{{!-- {{/with}} --}}
</div>